body {
  margin: 0;
  font-family: Arial;
  background: #e5e5e5;
}

.topbar {
  height: 65px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.logo {
  height: 40px;
}

.game-container {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.thumbnail img {
  width: 520px;
  height: 290px;
  border-radius: 8px;
  background: #aaa;
}

.info {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 380px;
}

.info h1 {
  margin-top: 0;
}

.creator {
  color: #555;
}

.play {
  background: #3bb54a;
  border: none;
  color: white;
  padding: 15px;
  font-size: 18px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  margin: 15px 0;
}

.desc {
  font-size: 14px;
  color: #333;
}
