body {
  margin: 0;
  font-family: Arial;
  background: #e4e4e4;
}

/* TOPO */
.topbar {
  height: 65px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 25px;
  gap: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.logo {
  height: 40px;
  cursor: pointer;
}

/* EDITOR */
.editor {
  display: flex;
  height: calc(100vh - 65px);
}

#viewport {
  flex: 1;
  background: #cfd3d6;
}

.panel {
  width: 260px;
  background: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,.1);
}

.panel button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: #0074bd;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
