body {
  margin: 0;
  font-family: Arial;
  background: #e4e4e4;
}

/* TOPO */
.topbar {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 25px;
  gap: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.logo {
  height: 42px;
  cursor: pointer;
  transition: transform 0.6s;
}

.logo.rotate {
  transform: rotate(360deg);
}

.search {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #bbb;
}

/* MENU LATERAL */
.sidebar {
  position: fixed;
  left: -300px; /* FORA DA TELA */
  top: 0;
  width: 260px;
  height: 100%;
  background: #f2f2f2;
  padding: 25px;
  transition: left 0.35s ease;
  box-shadow: 2px 0 6px rgba(0,0,0,.25);
  z-index: 20;
}

.sidebar.open {
  left: 0;
}

.sidebar a {
  display: block;
  margin: 18px 0;
  color: #333;
  text-decoration: none;
  font-size: 17px;
}

.sidebar .maker {
  color: #0074bd;
  font-weight: bold;
}

/* CONTEÚDO */
.content {
  padding: 30px;
}

/* SEÇÕES */
.section {
  background: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.section.large {
  padding: 25px;
}

.section h2 {
  margin-top: 0;
}

.empty {
  color: gray;
  font-size: 15px;
}

/* AMIGOS */
.friends-row {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

/* JOGOS */
.game-row {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.game-card {
  width: 220px;
  cursor: pointer;
}

.game-card img {
  width: 100%;
  height: 125px;
  object-fit: cover;
  border-radius: 8px;
}

.game-card span {
  display: block;
  margin-top: 8px;
  font-size: 16px;
}
